* {
    margin: 0;
}

body {
    display: flex;
}

h1 {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 650;
    user-select: none;
}

h2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(10, 10, 10);
    font-weight: 600;
    user-select: none;
}

input,
textarea {
    font-family: "Montserrat", sans-serif;
    color: rgb(10, 10, 10);
    font-weight: 450;
    user-select: none;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: rgb(25, 25, 25);
    font-weight: 550;
    user-select: none;
}

h6 {
    font-family: "Herr Von Muellerhoff", cursive;
    user-select: none;
}

a {
    text-decoration: none;
    user-select: none;
}

.currentPage {
    border-bottom: 0.1vh solid rgb(25, 25, 25, 1);
}

.bannerVariant2 {
    background-color: rgb(204, 183, 143);

    padding: 7.5vh 45vh;
}

.bannerVariant2>div {
    display: flex;
    gap: 2.5vh;
}

.bannerVariant2 h1 {
    font-size: 5vh;

    animation: fadeInBannerVariant2H1 2s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
}

@keyframes fadeInBannerVariant2H1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bannerVariant2 h1:nth-child(1) {
    animation-delay: 0s;
}

.bannerVariant2 h2 {
    font-size: 1.5vh;
    font-weight: 450;
    color: rgb(75, 75, 75);
}

.bannerVariant2 a {
    animation: fadeInBannerVariant2a 2s forwards;
    opacity: 0;
    transform: translateY(1vh);
}

@keyframes fadeInBannerVariant2a {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bannerVariant2 a:nth-child(1) {
    animation-delay: 1s;
}

.bannerVariant2 a:nth-child(2) {
    animation-delay: 1.25s;
}

.bannerVariant2 .currentPage {
    color: rgb(25, 25, 25);
    font-weight: 600;
    padding-bottom: 0.25vh;
}

.bannerVariant3 {
    display: flex;
    height: 75vh;
}

.bannerVariant3>div {
    height: 100%;
    width: 50%;
}

.bannerVariant3>div:first-child figure {
    height: 100%;
    width: 100%;
}

.bannerVariant3>div:first-child img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

.bannerVariant3>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgb(250, 250, 250);

    padding: 5vh;
}

.bannerVariant3>div:last-child h1 {
    font-size: 4.5vh;
    margin: 1vh 0 3vh 0;
}

.bannerVariant3>div:last-child h1 span {
    color: rgb(204, 183, 143);
}

.bannerVariant3>div:last-child h1:first-child {
    line-height: 0;
    position: relative;
    top: 4vh;
    left: -4.5vh;

    color: rgb(240, 240, 240);

    font-size: 7.5vh;

    animation: fadeInDecoTittle 1.5s forwards;
}

.bannerVariant3>div:last-child h2 {
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 2.5vh;
    z-index: 1;
}

.bannerVariant3>div:last-child h3 {
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 1.75vh;
    line-height: 3vh;

    text-align: justify;
    hyphens: auto;
}

.bannerVariant3>div:last-child h6 {
    font-size: 4vh;
    font-weight: 300;
    margin: 2.5vh 0;
}

.bannerVariant3>div:last-child div {
    display: flex;
    gap: 2.5vh;
}

.bannerVariant3>div:last-child a {
    padding: 1.5vh;
    border-radius: 50%;

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInIcons 1s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
}

@keyframes fadeInIcons {
    from {
        opacity: 0;
        transform: translateY(2.5vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bannerVariant3>div:last-child a:nth-child(2) {
    animation-delay: 0.25s;
}

.bannerVariant3>div:last-child a:nth-child(3) {
    animation-delay: 0.5s;
}

.bannerVariant3>div:last-child svg {
    fill: rgb(25, 25, 25);
    height: 2vh;
    width: 2vh;
}

.bannerVariant3>div:last-child svg {
    fill: rgb(25, 25, 25);
    height: 2vh;
    width: 2vh;
}


/* -- Home -- */

/* Navigation */

nav {
    width: 56vh;
    height: 100vh;

    position: sticky;
    top: 0;

    box-sizing: border-box;
    padding: 5vh;

    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5vh;
}

nav ul {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
}

nav ul:last-child {
    margin-top: auto;
}

nav li {
    width: fit-content;

    list-style: none;
}

nav h1 {
    font-size: 2.5vh;
}

nav h2 {
    font-size: 2vh;
}

nav h3 {
    font-size: 1.5vh;
    line-height: 1.5vh;

    padding: 0.5vh;
    border-bottom: 0.1vh solid rgb(25, 25, 25, 0);

    transition: 0.25s;
}

nav h3:hover {
    font-weight: 625;
}

nav h3#currentPage {
    font-weight: 750;
    border-bottom: 0.1vh solid rgb(25, 25, 25, 1);
}

nav img {
    width: 17.5vh;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
}

nav form {
    display: flex;
    background-color: white;
    padding: 1vh 1.5vh;
    border-radius: 1.5vh;
    border: 0.1vh solid rgb(175, 175, 175);
}

nav form input {
    width: 20vh;
    background: none;
    border: none;
    font-size: 1.5vh;
}

nav form input::placeholder {
    color: rgb(175, 175, 175);
}

nav form input:focus {
    outline: none;
}

nav form button {
    background: none;
    border: none;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav form svg {
    height: 2vh;
    width: 2vh;
    fill: rgb(175, 175, 175);
}


/* Main */

main {
    width: 100%;

    background-color: rgb(255, 255, 255);
}

.banner {
    position: relative;
    display: flex;
    height: 100vh;
}

.banner>div {
    position: relative;
    height: 100%;
    width: 50%;
}

.banner>div:first-child figure {
    position: relative;
    height: 100%;
    width: 100%;

    overflow: hidden;
    display: flex;
    align-items: end;

    display: flex;
    justify-content: center;
    align-items: end;
}

.banner>div:first-child img {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;

    opacity: 0;
    transform: scale(0.95);

    animation: fadeBannerImg 10s infinite;
}

.banner>div:first-child img:first-of-type {
    animation-delay: 0s;
}

.banner>div:first-child img:last-of-type {
    animation-delay: 5s;
}

@keyframes fadeBannerImg {

    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    10% {
        opacity: 1;
        transform: scale(1);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }

    90% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

.banner>div:first-child figure>div {
    display: flex;
    flex-direction: row;
    gap: 2.5vh;
    margin: 2.5vh;
    position: relative;
    z-index: 1;
}

.banner>div:first-child figure>div>div {
    width: 2vh;
    aspect-ratio: 1;
    border-radius: 50%;

    outline: 0.25vh rgb(255, 255, 255) solid;
    outline-offset: 0.25vh;

    background-color: rgb(255, 255, 255, 0.25);

    animation: fadeBannerIcon 10s infinite;
}

.banner>div:first-child figure>div>div:first-of-type  {
    animation-delay: 0s;
}

.banner>div:first-child figure>div>div:last-of-type  {
    animation-delay: 5s;
}

@keyframes fadeBannerIcon {

    0% {
        background-color: rgb(255, 255, 255, 0.25);
    }

    10% {
        background-color: rgb(255, 255, 255);
    }

    40% {
        background-color: rgb(255, 255, 255);
    }

    90% {
        background-color: rgb(255, 255, 255, 0.25);
    }

    100% {
        background-color: rgb(255, 255, 255, 0.25);
    }
}

.banner>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    background-color: rgb(250, 250, 250);

    padding: 5vh;
}

.banner>div:last-child h1 {
    font-size: 4.5vh;
    margin: 1vh 0 3vh 0;
}

.banner>div:last-child h1 span {
    color: rgb(204, 183, 143);
}

.banner>div:last-child h1:first-child {
    line-height: 0;
    position: relative;
    top: 1vh;
    left: -4.5vh;

    color: rgb(240, 240, 240);

    font-size: 7.5vh;
    margin: 0;

    animation: fadeInDecoTittle 1.5s forwards;
}

@keyframes fadeInDecoTittle {
    from {
        opacity: 0;
        transform: translateY(2.5vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner>div:last-child h2 {
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 2.5vh;
    z-index: 1;
}

.banner>div:last-child h3 {
    color: rgb(150, 150, 150);
    font-weight: 400;
    font-size: 1.75vh;
    line-height: 3vh;

    text-align: justify;
    hyphens: auto;
}

.banner>div:last-child h6 {
    font-size: 4vh;
    font-weight: 300;
    margin: 2.5vh 0;
}

.banner>div:last-child div {
    display: flex;
    gap: 2.5vh;
}

.banner>div:last-child a {
    padding: 1.5vh;
    border-radius: 50%;

    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInIcons 1s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
}

@keyframes fadeInIcons {
    from {
        opacity: 0;
        transform: translateY(2.5vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner>div:last-child a:nth-child(2) {
    animation-delay: 0.25s;
}

.banner>div:last-child a:nth-child(3) {
    animation-delay: 0.5s;
}

.banner>div:last-child svg {
    fill: rgb(25, 25, 25);
    height: 2vh;
    width: 2vh;
}


/* Follow */

.follow {
    width: 100%;

    margin: 7.5vh 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.follow h1 {
    text-transform: uppercase;
    font-size: 2vh;
}

.follow div {
    display: flex;
}

.follow a {
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeInFollow 2s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
    animation-timeline: view();
    animation-range: entry 0% cover 33%;
}

@keyframes fadeInFollow {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.follow a:nth-child(1) {
    animation-delay: 0s;
}

.follow a:nth-child(2) {
    animation-delay: 0.5s;
}

.follow a:nth-child(3) {
    animation-delay: 1.0s;
}

.follow a:nth-child(4) {
    animation-delay: 1.5s;
}

.follow a:nth-child(5) {
    animation-delay: 2.0s;
}

.follow img {
    height: 22.5vh;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.follow svg {
    position: absolute;
    width: 5vh;
    height: 5vh;

    padding: 7.5vh;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    fill: rgb(225, 225, 225);

    opacity: 0;
    transition: 0.33s;
}

.follow a:hover svg {
    opacity: 1;
}


/* Footer */

footer {
    background-color: rgb(33, 33, 33);

    width: 100%;
    padding: 10vh 25vh;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 7.5vh;
}

footer>div {
    width: calc((100% - 15vh) / 3);

    display: flex;
    flex-direction: column;
    gap: 5vh;
}


footer>div h1 {
    color: rgb(240, 240, 240);
    font-size: 2vh;
    text-transform: uppercase;
}

footer>div:first-child div {
    display: flex;
    flex-wrap: wrap;
}

footer>div:first-child img {
    width: calc(100% / 3);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

footer>div:nth-child(2) div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer>div:nth-child(2) dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 0.1vh solid rgb(175, 175, 175);
    padding-bottom: 0.5vh;
    margin-bottom: 1.5vh;
}

footer>div:nth-child(2) h2 {
    color: rgb(175, 175, 175);
    font-size: 1.5vh;
    font-weight: 400;
}

footer>div:nth-child(2) h3 {
    color: rgb(225, 225, 225);
    font-size: 1.75vh;
    font-weight: 400;
}

footer>div:nth-child(3) div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer>div:nth-child(3) dl {
    display: flex;
    gap: 1vh;
    align-items: center;

    margin-bottom: 2.5vh;
}

footer>div:nth-child(3) dt,
footer>div:nth-child(3) dd {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>div:nth-child(3) svg {
    fill: rgb(175, 175, 175);
    height: 2.5vh;
    width: 2.5vh;
}

footer>div:nth-child(3) h2 {
    color: rgb(175, 175, 175);
    font-size: 1.5vh;
    font-weight: 400;
}

footer>div:nth-child(3) h3 {
    color: rgb(225, 225, 225);
    font-size: 1.75vh;
    font-weight: 400;
}

footer>div:last-child {
    width: 100%;
}

footer>div:last-child h2 {
    color: rgb(200, 200, 200);
    font-size: 1.5vh;
    font-weight: 400;
}

footer>div:last-child h2 a {
    color: rgb(204, 183, 143);
}


/* -- Collection -- */

/* Collection */

.collection {
    margin: 7.5vh 10vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.5vh;
}

.collection figure {
    width: calc((100% - 5vh) / 3);
    aspect-ratio: 7/5;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translateY(7.5vh);
    animation: fadeInCollection 30s forwards;
    animation-delay: calc(var(--delay) * 7.5s);
    animation-timeline: view();
    animation-range: entry 0% cover 33%;
}

.collection figure:nth-child(1) {
    --delay: 0;
}

.collection figure:nth-child(2) {
    --delay: 2;
}

.collection figure:nth-child(3) {
    --delay: 4;
}

.collection figure:nth-child(4) {
    --delay: 6;
}

.collection figure:nth-child(5) {
    --delay: 8;
}

.collection figure:nth-child(6) {
    --delay: 10;
}

.collection figure:nth-child(7) {
    --delay: 12;
}

.collection figure:nth-child(8) {
    --delay: 14;
}

.collection figure:nth-child(9) {
    --delay: 16;
}

.collection figure:nth-child(10) {
    --delay: 18;
}

.collection figure:nth-child(11) {
    --delay: 20;
}

.collection figure:nth-child(12) {
    --delay: 22;
}

@keyframes fadeInCollection {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.collection figure>div {
    position: absolute;

    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;

    box-sizing: border-box;
    width: 92.5%;
    height: 92.5%;
    padding: 2.5vh 2vh;

    opacity: 0;
    transition: 0.5s;
}

.collection figure div h1 {
    color: rgb(240, 240, 240);
    font-weight: 400;
    font-size: 2.5vh;
}

.collection figure div.tags {
    display: flex;
    gap: 1vh;
}

.collection figure div h2 {
    color: rgb(175, 175, 175);
    font-weight: 300;
    font-size: 1.75vh;
    text-transform: uppercase;

    width: fit-content;
    display: inline-block;
}

.collection figure:hover div {
    opacity: 1;
}

.collection img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}


/* -- About -- */

/* Numbers */

.numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10vh 20vh;
    background-color: rgb(33, 33, 33);
}

.numbers>div {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2.5vh;

    animation: fadeInNumbers 1.5s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
}

.numbers>div:first-child {
    animation-delay: 0.5s;
}

.numbers>div:nth-child(2) {
    animation-delay: 0.75s;
}

.numbers>div:nth-child(3) {
    animation-delay: 1s;
}

.numbers>div:last-child {
    animation-delay: 1.25s;
}


@keyframes fadeInNumbers {
    from {
        opacity: 0;
        transform: translateY(5vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.numbers>div h2 {
    width: 10vh;

    font-size: 1.75vh;
    color: rgb(240, 240, 240);
    font-weight: 600;
}

.container-contador {
    width: 8vh;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.numero-animado1,
.numero-animado2,
.numero-animado3,
.numero-animado4 {
    font-size: 5vh;
    font-family: "Montserrat", sans-serif;
    color: rgb(204, 183, 143);
    font-weight: 400;
    user-select: none;
}

/* Animação Número 1 */

.numero-animado1 {
    animation: count1 2.4s cubic-bezier(0, 0, 0, 1) forwards;
    animation-delay: 0.5s;
    counter-reset: value var(--num);
}

.numero-animado1::after {
    content: counter(value);
}

@keyframes count1 {
    from {
        --num: 0;
    }

    to {
        --num: 120;
    }
}

/* Animação Número 2 */

.numero-animado2 {
    animation: count2 3s cubic-bezier(0, 0, 0, 1) forwards;
    animation-delay: 0.75s;
    counter-reset: value var(--num);
}

.numero-animado2::after {
    content: counter(value);
}

@keyframes count2 {
    from {
        --num: 0;
    }

    to {
        --num: 150;
    }
}

/* Animação Número 3 */

.numero-animado3 {
    animation: count3 4s cubic-bezier(0, 0, 0, 1) forwards;
    animation-delay: 1s;
    counter-reset: value var(--num);
}

.numero-animado3::after {
    content: counter(value);
}

@keyframes count3 {
    from {
        --num: 0;
    }

    to {
        --num: 200;
    }
}

/* Animação Número 4 */

.numero-animado4 {
    animation: count3 4s cubic-bezier(0, 0, 0, 1) forwards;
    animation-delay: 1.5s;
    counter-reset: value var(--num);
}

.numero-animado4::after {
    content: counter(value);
}

@keyframes count4 {
    from {
        --num: 0;
    }

    to {
        --num: 200;
    }
}


/* -- Services -- */

/* Services */

.services {
    display: flex;
    flex-wrap: wrap;

    margin: 20vh 25vh;
    justify-content: space-between;
    row-gap: 15vh;
}

.services div {
    width: calc((100% - 25vh) / 3);

    display: flex;
    flex-direction: column;
    gap: 1vh;

    animation: fadeInServices 2s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
}

@keyframes fadeInServices {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.services div:nth-child(1) {
    animation-delay: 0s;
}

.services div:nth-child(2) {
    animation-delay: 0.15s;
}

.services div:nth-child(3) {
    animation-delay: 0.3s;
}

.services div:nth-child(4) {
    animation-delay: 0.45s;
}

.services div:nth-child(5) {
    animation-delay: 0.6s;
}

.services div:nth-child(6) {
    animation-delay: 0.75s;
}

.services svg {
    width: 5vh;
    height: 5vh;
}

.services figure {
    width: 5vh;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2.5vh;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
}

.services h1 {
    font-size: 2.5vh;
    color: rgb(25, 25, 25);
    font-weight: 550;
}

.services h2 {
    font-size: 1.5vh;
    color: rgb(75, 75, 75);
    font-weight: 450;
}


/* -- Blog -- */

/* Blog */

.blog {
    margin: 7.5vh 10vh;

    display: flex;
    justify-content: space-between;
    gap: 7.5vh;
}

.blog>div:first-child {
    width: 65%;

    display: flex;
    flex-direction: column;
    gap: 7.5vh;
}

.blog>div:first-child>div {
    display: flex;
    flex-direction: row;
    gap: 2.5vh;
    align-items: center;

    animation: fadeInBlog1 1.5s forwards;
    opacity: 0;
    transform: translateY(5vh);
}

@keyframes fadeInBlog1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.blog>div:first-child>div:nth-child(1) {
    animation-delay: 0s;
}

.blog>div:first-child>div:nth-child(2) {
    animation-delay: 0.5s;
}

.blog>div:first-child>div:nth-child(3) {
    animation-delay: 1s;
}

.blog>div:first-child>div:nth-child(4) {
    animation-delay: 1.5s;
}

.blog>div:first-child>div:nth-child(5) {
    animation-delay: 2s;
}

.blog>div:first-child>div:nth-child(6) {
    animation-delay: 2.5s;
}

.blog>div:first-child>div:nth-child(7) {
    animation-delay: 3s;
}

.blog>div:first-child>div:nth-child(8) {
    animation-delay: 3.5s;
}

.blog>div:first-child>div>div {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.blog>div:first-child>div>div>div {
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.blog>div:first-child img {
    height: 37.5vh;
    aspect-ratio: 5/4;
    object-fit: cover;
}

.blog>div:first-child h1 {
    font-size: 2vh;
}

.blog>div:first-child h2 {
    font-size: 0.7vw;
    color: rgb(100, 100, 100);
    font-weight: 500;

    text-align: justify;
    hyphens: auto;
}

.blog>div:first-child>div a h2 {
    color: rgb(204, 183, 143);
}

.blog>div:first-child>div a h2::after {
    content: ">";
    color: rgb(204, 183, 143);
    position: relative;
    left: 0.25vh;
    top: 0.4vh;
    font-size: 2.5vh;
    font-weight: 325;
}

.blog>div:first-child nav {
    height: fit-content;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1.25vh;
    padding: 0;

    background: none;
}

.blog>div:first-child nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vh;
    aspect-ratio: 1;
    border-radius: 5vh;
    border: 0.1vh solid rgb(204, 183, 143);
}

.blog>div:first-child nav a.currentPage,
.blog>div:first-child nav a.currentPage h2 {
    background-color: rgb(204, 183, 143);
    color: rgb(255, 255, 255);
}

.blog>div:first-child nav a h2 {
    font-size: 1.5vh;
    color: rgb(204, 183, 143);
}

.blog>nav {
    width: 35%;
    height: auto;

    box-sizing: border-box;
    padding: 5vh;

    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: start;

    animation: fadeInBlogNav 1s forwards;
    opacity: 0;
    transform: translateY(5vh);
}

@keyframes fadeInBlogNav {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.blog>nav>* {
    animation: fadeInBlogNavItem 1s forwards;
    opacity: 0;
    transform: translateY(5vh);
}

@keyframes fadeInBlogNavItem {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.blog>nav>*:nth-child(1) {
    animation-delay: 0.25s;
}

.blog>nav>*:nth-child(2) {
    animation-delay: 0.5s;
}

.blog>nav>*:nth-child(3) {
    animation-delay: 0.75s;
}

.blog>nav>*:nth-child(4) {
    animation-delay: 1s;
}

.blog>nav>*:nth-child(5) {
    animation-delay: 1.25s;
}

.blog>nav>*:nth-child(6) {
    animation-delay: 1.5s;
}

.blog>nav>*:nth-child(7) {
    animation-delay: 1.75s;
}

.blog nav form {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.blog nav form input {
    width: 100%;
}

.blog nav form svg {
    fill: none;
}

.blog nav h1 {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25vh;
}

.blog nav h2 {
    font-size: 1.5vh;
    font-weight: 500;
}

.blog nav h3 {
    font-size: 1.5vh;
    font-weight: 400;
    color: rgb(150, 150, 150);
}

.blog nav>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.blog nav>div:nth-of-type(1)>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.blog nav>div:nth-of-type(1)>div>a {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 0.25vh;
    border-bottom: 0.1vh solid rgb(150, 150, 150);
}

.blog nav>div:nth-of-type(1)>div>a:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.blog nav>div:nth-of-type(2)>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.blog nav>div:nth-of-type(2)>div>a img {
    border-radius: 0;
    height: 100%;
    aspect-ratio: 3/2;
}


.blog nav>div:nth-of-type(2)>div>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vh;
}

.blog nav>div:nth-of-type(2)>div>a>div {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.blog nav>div:nth-of-type(2)>div>a>div>div {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.blog nav>div:nth-of-type(2)>div>a h2 {
    font-size: 1.3vh;
}

.blog nav>div:nth-of-type(2)>div>a>div>div>div {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    align-items: center;
}


.blog nav>div:nth-of-type(2)>div>a>div>div>div svg {
    height: 1.5vh;
    width: 1.5vh;
}

.blog nav>div:nth-of-type(2)>div>a>div>div>div h3 {
    font-size: 1.1vh;
    padding: 0;
}

.blog nav>div:nth-of-type(3)>div {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh 1.5vh;
}

.blog nav>div:nth-of-type(3)>div a {
    flex: 1;

    padding: 0.5vh 1.25vh;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0.5vh;
    border: 0.1vh solid rgb(150, 150, 150);
}

.blog nav>div:nth-of-type(4) {
    background-image: url('img/bg_1.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-sizing: border-box;
    padding: 5vh;

    gap: 5vh;
}


.blog nav>div:nth-of-type(4) h1 {
    font-size: 2vh;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25vh;
    color: rgb(255, 255, 255);
}

.blog nav>div:nth-of-type(4) h2 {
    font-size: 1.75vh;
    font-weight: 500;
    color: rgb(240, 240, 240);

    text-align: justify;
    hyphens: auto;
}

.blog nav>div:nth-of-type(4) h3 {
    font-size: 1.5vh;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.blog nav>div:nth-of-type(4) form {
    flex-direction: column;
    background: none;
    border: none;

    gap: 1vh;

    padding: 0;
}

.blog nav>div:nth-of-type(4) form input {
    border: solid 0.1vh rgb(240, 240, 240);
    padding: 1.75vh 2vh;
    box-sizing: border-box;
    border-radius: 1.5vh;
    color: rgb(240, 240, 240);
}

.blog nav>div:nth-of-type(4) form input::placeholder {
    color: rgb(240, 240, 240);
}

.blog nav>div:nth-of-type(4) form button {
    border: solid 0.1vh rgb(240, 240, 240);
    background: rgb(240, 240, 240);
    padding: 1.75vh 2vh;
    box-sizing: border-box;
    border-radius: 1.5vh;
    color: rgb(240, 240, 240);
}

.blog nav>div:nth-of-type(4) form button h3 {
    padding: 0;
}

.blog nav>div:nth-of-type(5)>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.blog nav>div:nth-of-type(5)>div>a {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-bottom: 0.25vh;
    border-bottom: 0.1vh solid rgb(150, 150, 150);
}

.blog nav>div:nth-of-type(5)>div>a:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.blog nav>div:nth-of-type(6) h2 {
    font-size: 1.75vh;
    color: rgb(150, 150, 150);

    text-align: justify;
    hyphens: auto;
}


/* -- Contact -- */

.contact {
    display: flex;
    flex-direction: column;
    gap: 7.5vh;

    margin: 7.5vh 10vh;
}

.contact h1 {
    font-size: 4vh;

    animation: fadeInBannerVariant2H1 2s forwards;
    opacity: 0;
    transform: translateY(2.5vh);
    animation-delay: 0.5s;
}

@keyframes fadeInContactH1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vh;
}

.contact>div>div {
    background-color: rgb(245, 245, 245);

    display: flex;
    flex-direction: column;
    gap: 5vh;

    box-sizing: border-box;

    animation: fadeInBannerVariant2H1 2s forwards;
    opacity: 0;
    transform: translateY(5vh);
    animation-delay: 0.75s;
}

@keyframes fadeInContactH1 {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact>div>div:nth-of-type(1),
.contact>div>div:nth-of-type(2),
.contact>div>div:nth-of-type(3),
.contact>div>div:nth-of-type(4) {
    width: calc((100% - 5vh * 3) / 4);
    aspect-ratio: 4/3;
    padding: 2.5vh;
}

.contact>div>div:nth-of-type(5),
.contact>div>div:nth-of-type(6) {
    width: calc((100% - 5vh * 1) / 2);
    aspect-ratio: 9/10;
}

.contact>div>div:nth-of-type(1) {
    animation-delay: 0.75s;
}

.contact>div>div:nth-of-type(2) {
    animation-delay: 1s;
}

.contact>div>div:nth-of-type(3) {
    animation-delay: 1.25s;
}

.contact>div>div:nth-of-type(4) {
    animation-delay: 1.5s;
}

.contact>div>div:nth-of-type(5) {
    animation-delay: 1.75s;
    padding: 5vh;
}

.contact>div>div:nth-of-type(6) {
    animation-delay: 2s;
}

.contact h2 {
    color: rgb(25, 25, 25);
    font-weight: 450;
    font-size: 2vh;
}

.contact a {
    color: rgb(0, 0, 0);
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.contact form input {
    background: rgb(255, 255, 255);

    box-sizing: border-box;
    padding: 1vh 1.5vh;
    border-radius: 1.5vh;
    border: 0.1vh solid rgb(175, 175, 175);

    font-size: 1.75vh;
}

.contact form input::placeholder {
    color: rgb(175, 175, 175);
}

.contact form input:focus {
    outline: none;
}

.contact form textarea {
    background: rgb(255, 255, 255);

    box-sizing: border-box;
    padding: 1vh 1.5vh;
    border-radius: 1.5vh;
    border: 0.1vh solid rgb(175, 175, 175);

    font-size: 1.75vh;

    resize: none;
    height: 25vh;
}

.contact form textarea::placeholder {
    color: rgb(175, 175, 175);
}

.contact form textarea:focus {
    outline: none;
}

.contact form button {
    background: rgb(204, 183, 143);
    width: 50%;

    box-sizing: border-box;
    padding: 1.25vh 1.5vh;
    border-radius: 2.5vh;
    border: 0.1vh solid rgb(204, 183, 143);

    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: 550;
}

.contact iframe {
    width: 100%;
    height: 100%;
}